body  {
  background-color: #ebebeb;
}

/* pjesa slideshow+content */
.main {

      background-color: #ebebeb;
}


/* shtimi i fontit */
@font-face {
    font-family: angltrrj;
    src: url(Fonts/angltrr.ttf);
}


/* trupi i slideshow */
.slideshow-quotes {
    font-family: helvetica, sans-serif;
    margin: 0px;
    position: relative;
    background: #ebebeb;
}


/* vijat kufizuese tek quotes */
.fadingline {

   display:block;
    border:none;
    color:white;
    height:2px;
    background:#d4d4d4;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 550, from(#c8c8c8), to(#ebebeb));
}


/* quotes */
.quotes {
    display: flex;
    padding: 30px;
    text-align: center;
}


/* next dhe previous */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    user-select: none;
}


/* vendosja e "next" ne te djathte */
.next {
  position: absolute;
  right: 0;
}


/* ngjyra dhe fonti i quotave */
q {
  font-family: angltrr;
  font-style: italic;
  font-size: 30px;
  color: #757575;
}


/* ngjyra e fontit tek autori i quotes */
.autori {
  color: #00134d;
}


/* trupi content */
.content {
  margin: 15px 183px 0px ;
  color: #717171;
  font-family: angltrr;
  display: flex;
  overflow: hidden;
}


/* block content 1/2 */
div#block1 {
   
  background-color: #ebebeb;
  margin: 10px;
  width: 2000px;
  float: left;
}


/* block content 1/4 */
div#block2 {
 
  background-color: #ebebeb;
  margin: 10px 15px;/* kom ndrru*/
  width:150%;
  float: left;
}


/* block content 1/4 */
div#block3 {
  background-color: #ebebeb;
  margin: 10px;
  width: 150%;
  float: left;
}


/* read more link */
.rmlink {
  margin: 0 10px 0 0;
  font-family: angltrr;
  text-decoration: none;
  -webkit-transition: all.5s;
  float: right;
  padding: 5px 15px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  color: #00CCCC;
  background-color: #efefef;
  border-radius: 7px;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.5),
      1px 1px 5px rgba(0,0,0,0.3);
}


/* read more hover */
.rmlink:hover {
    background-color: #333;
    color: #e3e3e3;
}


/* title name tek pjesa content */
h3 {
    font-size: 21px;
    color: #5c5c5c;
}

.paragrafi1 {
  font-size: 13px;
}
